<p id="notice"><%= notice %></p>

<p>
  <strong>Category map:</strong>
  <%= @map.category_map_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @map.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
